body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.banner,
.banner img {
    width: 96%;
    margin: auto;

}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px 5px 2px;
    border-bottom: 1px solid gray;
}

.left {
    width: 40%;
}

.right {
    width: 70%;
    padding-right: 10px;
    float: right;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    text-decoration: none;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.navicon {
    padding: 5px 1px 1px 1px;
    width: 20px;
    height: 20px;
}

.logo {
    width: 40%;
    padding: 0px 10px;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 60%;
    }

    .right {
        display: none;
        width: 0px;
    }

}

/* ------------------------------- header css starts from here -----------  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.location-btn {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    background: #FF9933;
    border-radius: 20px;
}

input {
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    padding: 2px 10px;
}

.search-container {
    width: 30%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.486);
}

@media only screen and (max-width: 900px) {
    .location-btn {
        font-size: 12px;
        padding: 7px 10px;
        gap: 5px;

    }

    .search-container {
        width: 55%;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        border: 1px solid rgba(128, 128, 128, 0.486);
    }
}

@media only screen and (max-width: 900px) {
    .search-container {
        padding: 5px;
    }
}

/* ------------------ categories-----------------  */
.categories {
    margin: 5px 0px 25px 0px;
}

.categories ul {
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.685);
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    .categories {
        visibility: hidden;
    }
}

/* ----------------- hot deals---------------------  */

.hot-deals-container {
    display: flex;
    align-items: center;


}

.hot-deals-container .left-part {
    width: 40%;

}

.left-part {
    font-size: 65px;
    line-height: 10px;
    padding: 5px 22px;
    align-items: center;
}

.orange-color-text {
    color: #FF9933;
    font-weight: 800;
}

.right-part {
    width: 60%;
}

.right-part .upper {
    border-bottom: 2px dashed #FF9933;
    width: 80%;
    font-weight: 800;
}

/* ---lower part--- */
.lower {
    padding: 20px;

}

.hot-deal-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 60px;
}

.product-container {
    font-weight: 600;
    font-size: 12px;
    width: 25%;
    color: rgba(0, 0, 0, 0.89);
}

.prod-img img {
    width: 100%;
}

.prod-price {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.original-price {
    text-decoration: line-through;
}

.discount {
    color: red;
}

.discounted-price {
    font-weight: 500;
    text-align: center;
    color: #138808;
}

@media only screen and (max-width: 900px) {
    .hot-deals-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hot-deals-container .left-part {
        font-size: 65px;
        margin: auto;
        align-items: center;
    }

    .text-container {
        width: fit-content;
        margin: auto;
    }

    .hot-deals-container .left-part,
    .hot-deals-container .right-part {
        width: 100%;
    }

    .hot-deal-products {
        width: 100%;
    }

    .hot-deal-products .product-container {
        font-weight: 600;
        font-size: 12px;
        width: 25%;
        flex-shrink: 0;
    }

    .right-part .upper {
        border-bottom: 2px dashed #FF9933;
        width: 100%;
        font-weight: 800;
    }
}

@media only screen and (max-width: 500px) {
    .hot-deals-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hot-deals-container .left-part {
        font-size: 50px;
        margin: auto;
        align-items: center;
    }

    .hot-deals-container .left-part,
    .hot-deals-container .right-part {
        width: 100%;
    }

    .hot-deal-products {
        width: 100%;
    }

    .hot-deal-products .product-container {
        font-weight: 600;
        font-size: 12px;
        width: 40%;
        flex-shrink: 0;
    }
}

/* ---------- .today-deals--------------  */
.today-deals-heading {
    border-bottom: 2px dashed #FF9933;
    margin-top: 20px;
    padding: 20px 26px 5px 26px;
    width: 90%;
    margin: auto;
    font-weight: 600;
}

.today-deals {
    display: flex;
    justify-content: space-evenly;
    overflow-y: scroll;
    gap: 70px;
    padding: 26px;
    overflow: hidden;
}

.today-deals .prod-img {
    width: 80%;
}

.today-deals .product-container {
    width: 15%;
}

@media only screen and (max-width: 900px) {
    .today-deals {
        flex-wrap: wrap;
        gap: 25px;
    }

    .today-deals .product-container {
        width: 25%;
    }

    .today-deals .prod-img {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .today-deals {

        gap: 20px;
    }

    .today-deals .product-container {
        width: 38%;
    }

}

/* --------------------------- newly-launched-shops---------------  */

.newly-launched-shops-heading {
    border-bottom: 2px dashed #FF9933;
    margin-top: 20px;
    padding: 20px 26px 5px 26px;
    width: 90%;
    margin: auto;
    font-weight: 600;
}

.shop-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 16px;
    overflow-y: scroll;
}

.shop-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.884);
}

.shop-name {
    font-weight: 600;
}

.shop-img {
    width: 70%;
    margin: auto;
}

.shop-img img {
    width: 100%;

}

.shop-name {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .shop-container {

        flex-wrap: wrap;

    }

    .shop-card {
        width: 150px;
        margin: 10px;
    }


}

/* ---------------- .kitchenbanner --------------  */
.kitchenbanner {
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}

.kitchenbanner img {
    width: 100%;
}

/* -------------deals-of-electronics------------- */

.deals-of-electronics-heading {
    border-bottom: 2px dashed #FF9933;
    margin-top: 20px;
    padding: 20px 26px 5px 26px;
    width: 90%;
    margin: auto;
    font-weight: 600;
}

.deals-of-electronics-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: space-evenly;
}

.deals-of-electronics-container .product-container {
    width: 18%;
}

.deals-of-electronics-container .product-container .prod-img {
    width: 60%;
}

@media only screen and (max-width: 900px) {
    .deals-of-electronics-container .product-container {
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    .deals-of-electronics-container .product-container {
        width: 40%;
    }
}

/* ------------------------ review section ----------------  */
.review-heading {
    border-bottom: 2px dashed #FF9933;
    margin: 20px 0px;
    padding: 20px 26px 5px 26px;
    width: 90%;
    margin: auto;
    font-weight: 600;

}

.review-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px;
}

.review-card {
    width: 450px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    gap: 40px;

}

.review-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-prod-price {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.smaller-text {
    font-size: 10px;
    font-weight: 500;
}

.review-img {
    width: 50%;
}

.review-img img {
    width: 100%;
}

.rating img {
    width: 70%;
}